In [1]:
import sys
sys.executable

'C:\\Users\\SEAN\\anaconda3\\envs\\Carbon_Cloud\\python.exe'

In [2]:
# Importing required libraries
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [3]:
# Creating a dataframe
transport_df = pd.read_csv("Transportation_Preprocessed_Grouped_Dataset.csv")
transport_df.head(50)

,make,model,vehicle_class,engine_size,cylinders,transmission,fuel_type,fuel_consumption_comb,co2_emissions
0,ACURA,ILX,cluster0,2.0,4,AS5,Z,8.5,196
1,ACURA,ILX,cluster0,2.4,4,M6,Z,9.6,221
2,ACURA,ILX,cluster0,1.5,4,AV7,Z,5.9,136
3,ACURA,MDX,cluster3,3.5,6,AS6,Z,11.1,255
4,ACURA,RDX,cluster3,3.5,6,AS6,Z,10.6,244
5,ACURA,RLX,cluster0,3.5,6,AS6,Z,10.0,230
6,ACURA,TL,cluster0,3.5,6,AS6,Z,10.1,232
7,ACURA,TL,cluster0,3.7,6,AS6,Z,11.1,255
8,ACURA,TL,cluster0,3.7,6,M6,Z,11.6,267
9,ACURA,TSX,cluster0,2.4,4,AS5,Z,9.2,212
10,ACURA,TSX,cluster0,2.4,4,M6,Z,9.8,225
11,ACURA,TSX,cluster0,3.5,6,AS5,Z,10.4,239
12,ALFA ROMEO,4C,cluster5,1.8,4,AM6,Z,8.4,193
13,ASTON MARTIN,DB9,cluster0,5.9,12,A6,Z,15.6,359
14,ASTON MARTIN,RAPIDE,cluster0,5.9,12,A6,Z,15.6,359
15,ASTON MARTIN,VANTAGE,cluster5,4.7,8,AM7,Z,14.7,338
16,ASTON MARTIN,VANTAGE,cluster5,4.7,8,M6,Z,15.4,354
17,ASTON MARTIN,VANTAGE,cluster5,4.7,8,AM7,Z,14.7,338
18,ASTON MARTIN,VANTAGE,cluster5,4.7,8,M6,Z,15.4,354
19,ASTON MARTIN,VANQUISH,cluster0,5.9,12,A6,Z,15.6,359
20,AUDI,A4,cluster0,2.0,4,AV8,Z,8.8,202
21,AUDI,A4,cluster0,2.0,4,AS8,Z,10.0,230
22,AUDI,A4,cluster0,2.0,4,M6,Z,9.3,214
23,AUDI,A5,cluster0,2.0,4,AS8,Z,10.0,230
24,AUDI,A5,cluster0,2.0,4,AS8,Z,10.0,230
25,AUDI,A5,cluster0,2.0,4,M6,Z,9.3,214
26,AUDI,A6,cluster0,2.0,4,AS8,Z,10.2,235
27,AUDI,A6,cluster0,3.0,6,AS8,Z,10.9,251
28,AUDI,A6,cluster0,3.0,6,AS8,D,8.1,217
29,AUDI,A7,cluster0,3.0,6,AS8,Z,11.2,262
30,AUDI,A7,cluster0,3.0,6,AS8,D,8.1,217
31,AUDI,A8,cluster0,3.0,6,AS8,Z,11.2,258
32,AUDI,A8,cluster0,4.0,8,AS8,Z,11.3,265
33,AUDI,A8,cluster0,3.0,6,AS8,D,8.4,224
34,AUDI,A8,cluster0,3.0,6,AS8,Z,11.2,258
35,AUDI,A8,cluster0,4.0,8,AS8,Z,12.5,288
36,AUDI,A8,cluster0,6.3,12,AS8,Z,15.5,363
37,AUDI,A8,cluster0,3.0,6,AS8,D,8.4,224
38,AUDI,ALLROAD,cluster3,2.0,4,AS8,Z,10.5,242
39,AUDI,Q5,cluster3,2.0,4,AS8,Z,10.4,239
40,AUDI,Q5,cluster3,3.0,6,AS8,Z,11.2,258
41,AUDI,Q5,cluster3,3.0,6,AS8,D,9.0,244
42,AUDI,Q5,cluster3,2.0,4,AS8,Z,9.2,212
43,AUDI,Q7,cluster6,3.0,6,AS8,Z,13.2,304
44,AUDI,Q7,cluster6,3.0,6,AS8,D,10.7,290
45,AUDI,R8,cluster5,4.2,8,A7,Z,14.6,336
46,AUDI,R8,cluster5,4.2,8,M6,Z,17.7,407
47,AUDI,R8,cluster5,5.2,10,A7,Z,14.8,347
48,AUDI,R8,cluster5,5.2,10,M6,Z,17.8,409
49,AUDI,R8,cluster5,4.2,8,A7,Z,14.6,336

In [4]:
transport_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7384 entries, 0 to 7383
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   make                   7384 non-null   object
 1   model                  7384 non-null   object
 2   vehicle_class          7384 non-null   object
 3   engine_size            7384 non-null   float64
 4   cylinders              7384 non-null   int64
 5   transmission           7384 non-null   object
 6   fuel_type              7384 non-null   object
 7   fuel_consumption_comb  7384 non-null   float64
 8   co2_emissions          7384 non-null   int64
dtypes: float64(2), int64(2), object(5)
memory usage: 519.3+ KB

In [5]:
# Qualitative / Categorical Variables :- make, model, vehicle_class, transmission, fuel_type
transport_df_qualitative = transport_df.drop(['engine_size','cylinders','fuel_consumption_comb','co2_emissions'], axis=1)

In [6]:
# Visualizing unique_categories_count & Observations/sample_count for each categories related to all Qualitative Variables
for i in transport_df_qualitative.columns:
    category_count = transport_df[i].value_counts()
    print(category_count)
    print("Unique categories count for", i ,":",transport_df[i].nunique())
    print()

make
FORD             628
CHEVROLET        587
BMW              527
MERCEDES-BENZ    419
PORSCHE          376
TOYOTA           330
GMC              328
AUDI             286
NISSAN           259
JEEP             251
DODGE            246
KIA              231
HONDA            214
HYUNDAI          210
MINI             204
VOLKSWAGEN       197
MAZDA            180
LEXUS            178
JAGUAR           160
CADILLAC         158
SUBARU           140
VOLVO            124
INFINITI         108
BUICK            103
RAM               97
LINCOLN           96
MITSUBISHI        95
CHRYSLER          88
LAND ROVER        85
FIAT              73
ACURA             72
MASERATI          61
ROLLS-ROYCE       50
ASTON MARTIN      47
BENTLEY           46
LAMBORGHINI       41
ALFA ROMEO        30
GENESIS           25
SCION             22
SMART              7
BUGATTI            3
SRT                2
Name: count, dtype: int64
Unique categories count for make : 42

model
I series       230
COOPER         204
F-150          191
M series       153
911 CARRERA    134
              ...
CROSSTOUR        1
TELLURIDE        1
AVIATOR          1
ROUTAN           1
GR SUPRA         1
Name: count, Length: 351, dtype: int64
Unique categories count for model : 351

vehicle_class
cluster0    3778
cluster3    1546
cluster6    1273
cluster5     460
cluster2     239
cluster4      66
cluster1      22
Name: count, dtype: int64
Unique categories count for vehicle_class : 7

transmission
AS6     1323
AS8     1211
M6       901
A6       789
A8       490
AM7      445
A9       339
AS7      319
AV       295
M5       193
AS10     168
AM6      132
AV7      118
AV6      113
M7        91
A5        84
AS9       77
A4        65
AM8       62
A7        53
AV8       39
A10       31
AS5       26
AV10      11
AM5        4
AM9        3
AS4        2
Name: count, dtype: int64
Unique categories count for transmission : 27

fuel_type
X    3637
Z    3202
E     370
D     175
Name: count, dtype: int64
Unique categories count for fuel_type : 4

In [7]:
## Encoding technique that should be use for each Categorical Variables are listed below
# make (42 categories) => Hash Encoding
# model (351 categories) => Hash Encoding
# vehicle_class (7 categories) => Dummy Encoding
# fuel_type (4 categories) => Dummy Encoding

In [8]:
# Encoding categorical variable "make" using Hash Encoding.

import category_encoders as ce

# Initialize HashingEncoder
hash_encoder = ce.HashingEncoder(cols=['make'], n_components=4)  # Adjust n_components as needed

# Fit and transform the data
hash_encoded = hash_encoder.fit_transform(transport_df['make'])

# Get the names of the resulting columns
column_names = hash_encoder.get_feature_names_out()

# Concatenate original column name with the resulting column names
hash_encoded.columns = [f"{transport_df.columns[0]}_{col}" for col in column_names]

# Concatenate original DataFrame with hash-encoded DataFrame
transport_df = pd.concat([transport_df, hash_encoded], axis=1)
transport_df

,make,model,vehicle_class,engine_size,cylinders,transmission,fuel_type,fuel_consumption_comb,co2_emissions,make_col_0,make_col_1,make_col_2,make_col_3
0,ACURA,ILX,cluster0,2.0,4,AS5,Z,8.5,196,0,0,0,1
1,ACURA,ILX,cluster0,2.4,4,M6,Z,9.6,221,0,0,0,1
2,ACURA,ILX,cluster0,1.5,4,AV7,Z,5.9,136,0,0,0,1
3,ACURA,MDX,cluster3,3.5,6,AS6,Z,11.1,255,0,0,0,1
4,ACURA,RDX,cluster3,3.5,6,AS6,Z,10.6,244,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7379,VOLVO,XC40,cluster3,2.0,4,AS8,Z,9.4,219,0,0,1,0
7380,VOLVO,XC60,cluster3,2.0,4,AS8,Z,9.9,232,0,0,1,0
7381,VOLVO,XC60,cluster3,2.0,4,AS8,Z,10.3,240,0,0,1,0
7382,VOLVO,XC90,cluster6,2.0,4,AS8,Z,9.9,232,0,0,1,0
7383,VOLVO,XC90,cluster6,2.0,4,AS8,Z,10.7,248,0,0,1,0

In [9]:
# Encoding categorical variable "make" using Hash Encoding.

import category_encoders as ce

# Initialize HashingEncoder
hash_encoder = ce.HashingEncoder(cols=['model'], n_components=4)  # Adjust n_components as needed

# Fit and transform the data
hash_encoded = hash_encoder.fit_transform(transport_df['model'])

# Get the names of the resulting columns
column_names = hash_encoder.get_feature_names_out()

# Concatenate original column name with the resulting column names
hash_encoded.columns = [f"{transport_df.columns[1]}_{col}" for col in column_names]

# Concatenate original DataFrame with hash-encoded DataFrame
transport_df = pd.concat([transport_df, hash_encoded], axis=1)
transport_df

,make,model,vehicle_class,engine_size,cylinders,transmission,fuel_type,fuel_consumption_comb,co2_emissions,make_col_0,make_col_1,make_col_2,make_col_3,model_col_0,model_col_1,model_col_2,model_col_3
0,ACURA,ILX,cluster0,2.0,4,AS5,Z,8.5,196,0,0,0,1,1,0,0,0
1,ACURA,ILX,cluster0,2.4,4,M6,Z,9.6,221,0,0,0,1,1,0,0,0
2,ACURA,ILX,cluster0,1.5,4,AV7,Z,5.9,136,0,0,0,1,1,0,0,0
3,ACURA,MDX,cluster3,3.5,6,AS6,Z,11.1,255,0,0,0,1,1,0,0,0
4,ACURA,RDX,cluster3,3.5,6,AS6,Z,10.6,244,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7379,VOLVO,XC40,cluster3,2.0,4,AS8,Z,9.4,219,0,0,1,0,0,0,1,0
7380,VOLVO,XC60,cluster3,2.0,4,AS8,Z,9.9,232,0,0,1,0,1,0,0,0
7381,VOLVO,XC60,cluster3,2.0,4,AS8,Z,10.3,240,0,0,1,0,1,0,0,0
7382,VOLVO,XC90,cluster6,2.0,4,AS8,Z,9.9,232,0,0,1,0,0,1,0,0
7383,VOLVO,XC90,cluster6,2.0,4,AS8,Z,10.7,248,0,0,1,0,0,1,0,0

In [11]:
# Encoding categorical variables "vehicle_class" using Dummy Encoding.
dummy_encoded_vehicle_class = pd.get_dummies(transport_df['vehicle_class'], drop_first=True, prefix='vehicle_class')
# Convert "True / False" to "1 / 0"
dummy_encoded_vehicle_class = dummy_encoded_vehicle_class.astype(int)
# Concatenate original DataFrame with vehicle_class dummy-encoded DataFrame
transport_df = pd.concat([transport_df, dummy_encoded_vehicle_class], axis=1)

# # Encoding categorical variables "transmission" using Dummy Encoding.
# dummy_encoded_transmission = pd.get_dummies(transport_df['transmission'], drop_first=True, prefix='transmission')
# # Convert "True / False" to "1 / 0"
# dummy_encoded_transmission = dummy_encoded_transmission.astype(int)
# # Concatenate original DataFrame with transmission dummy-encoded DataFrame
# transport_df = pd.concat([transport_df, dummy_encoded_transmission], axis=1)

# Encoding categorical variables "fuel_type"  using Dummy Encoding.
dummy_encoded_fuel_type = pd.get_dummies(transport_df['fuel_type'], drop_first=True, prefix='fuel_type')
# Convert "True / False" to "1 / 0"
dummy_encoded_fuel_type = dummy_encoded_fuel_type.astype(int)
# Concatenate original DataFrame with transmission dummy-encoded DataFrame
transport_df = pd.concat([transport_df, dummy_encoded_fuel_type], axis=1)

In [12]:
# Removing the original categorical variable from the dataframe. "make", "vehicle_class", "transmission", "fuel_type"
transport_df = transport_df.drop(['make', 'model', 'vehicle_class', 'fuel_type'], axis=1)
transport_df

,engine_size,cylinders,fuel_consumption_comb,co2_emissions,make_col_0,make_col_1,make_col_2,make_col_3,model_col_0,model_col_1,...,model_col_3,vehicle_class_cluster1,vehicle_class_cluster2,vehicle_class_cluster3,vehicle_class_cluster4,vehicle_class_cluster5,vehicle_class_cluster6,fuel_type_E,fuel_type_X,fuel_type_Z
0,2.0,4,8.5,196,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,1
1,2.4,4,9.6,221,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,1
2,1.5,4,5.9,136,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,1
3,3.5,6,11.1,255,0,0,0,1,1,0,...,0,0,0,1,0,0,0,0,0,1
4,3.5,6,10.6,244,0,0,0,1,0,0,...,1,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7379,2.0,4,9.4,219,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,1
7380,2.0,4,9.9,232,0,0,1,0,1,0,...,0,0,0,1,0,0,0,0,0,1
7381,2.0,4,10.3,240,0,0,1,0,1,0,...,0,0,0,1,0,0,0,0,0,1
7382,2.0,4,9.9,232,0,0,1,0,0,1,...,0,0,0,0,0,0,1,0,0,1
7383,2.0,4,10.7,248,0,0,1,0,0,1,...,0,0,0,0,0,0,1,0,0,1

In [13]:
# Column to be moved to the last position
column_to_move = 'co2_emissions'

# Pop the column from its original position and insert it at the last position
column = transport_df.pop(column_to_move)
transport_df.insert(len(transport_df.columns), column.name, column)
transport_df

,engine_size,cylinders,fuel_consumption_comb,make_col_0,make_col_1,make_col_2,make_col_3,model_col_0,model_col_1,model_col_2,...,vehicle_class_cluster1,vehicle_class_cluster2,vehicle_class_cluster3,vehicle_class_cluster4,vehicle_class_cluster5,vehicle_class_cluster6,fuel_type_E,fuel_type_X,fuel_type_Z,co2_emissions
0,2.0,4,8.5,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,1,196
1,2.4,4,9.6,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,1,221
2,1.5,4,5.9,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,1,136
3,3.5,6,11.1,0,0,0,1,1,0,0,...,0,0,1,0,0,0,0,0,1,255
4,3.5,6,10.6,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,244
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7379,2.0,4,9.4,0,0,1,0,0,0,1,...,0,0,1,0,0,0,0,0,1,219
7380,2.0,4,9.9,0,0,1,0,1,0,0,...,0,0,1,0,0,0,0,0,1,232
7381,2.0,4,10.3,0,0,1,0,1,0,0,...,0,0,1,0,0,0,0,0,1,240
7382,2.0,4,9.9,0,0,1,0,0,1,0,...,0,0,0,0,0,1,0,0,1,232
7383,2.0,4,10.7,0,0,1,0,0,1,0,...,0,0,0,0,0,1,0,0,1,248

In [14]:
transport_df.columns

Index(['engine_size', 'cylinders', 'fuel_consumption_comb', 'make_col_0',
       'make_col_1', 'make_col_2', 'make_col_3', 'model_col_0', 'model_col_1',
       'model_col_2', 'model_col_3', 'vehicle_class_cluster1',
       'vehicle_class_cluster2', 'vehicle_class_cluster3',
       'vehicle_class_cluster4', 'vehicle_class_cluster5',
       'vehicle_class_cluster6', 'fuel_type_E', 'fuel_type_X', 'fuel_type_Z',
       'co2_emissions'],
      dtype='object')

In [15]:
# Writing the Encoded transport_df to a CSV file
transport_df.to_csv('Transportation_Hash_Dummy_Encoded_Dataset.csv', index=False)