In [1]:
import sys
sys.executable

'C:\\Users\\SEAN\\anaconda3\\envs\\Carbon_Cloud\\python.exe'

In [2]:
# Importing required libraries
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [3]:
# Creating a dataframe
transport_df = pd.read_csv("Transportation_Preprocessed_Grouped_Dataset.csv")
transport_df.head()

,make,model,vehicle_class,engine_size,cylinders,transmission,fuel_type,fuel_consumption_comb,co2_emissions
0,ACURA,ILX,0,2.0,4,AS5,Z,8.5,196
1,ACURA,ILX,0,2.4,4,M6,Z,9.6,221
2,ACURA,ILX HYBRID,0,1.5,4,AV7,Z,5.9,136
3,ACURA,MDX 4WD,3,3.5,6,AS6,Z,11.1,255
4,ACURA,RDX AWD,3,3.5,6,AS6,Z,10.6,244

In [4]:
transport_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7384 entries, 0 to 7383
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   make                   7384 non-null   object
 1   model                  7384 non-null   object
 2   vehicle_class          7384 non-null   int64
 3   engine_size            7384 non-null   float64
 4   cylinders              7384 non-null   int64
 5   transmission           7384 non-null   object
 6   fuel_type              7384 non-null   object
 7   fuel_consumption_comb  7384 non-null   float64
 8   co2_emissions          7384 non-null   int64
dtypes: float64(2), int64(3), object(4)
memory usage: 519.3+ KB

In [5]:
# Encoding categorical variable "make" using Label Encoding.

# Qualitative / Categorical Variables :- make, model, vehicle_class, transmission, fuel_type
transport_df_qualitative = transport_df.drop(['engine_size','cylinders','fuel_consumption_comb','co2_emissions'], axis=1)

from sklearn.preprocessing import LabelEncoder

# Initialize LabelEncoder
label_encoder = LabelEncoder()

# Fit and transform the categorical variable
for i in transport_df_qualitative.columns:
    transport_df[i] = label_encoder.fit_transform(transport_df[i])

transport_df

,make,model,vehicle_class,engine_size,cylinders,transmission,fuel_type,fuel_consumption_comb,co2_emissions
0,0,1057,0,2.0,4,14,3,8.5,196
1,0,1057,0,2.4,4,25,3,9.6,221
2,0,1058,0,1.5,4,22,3,5.9,136
3,0,1233,3,3.5,6,15,3,11.1,255
4,0,1499,3,3.5,6,15,3,10.6,244
...,...,...,...,...,...,...,...,...,...
7379,41,1951,3,2.0,4,17,3,9.4,219
7380,41,1957,3,2.0,4,17,3,9.9,232
7381,41,1960,3,2.0,4,17,3,10.3,240
7382,41,1968,6,2.0,4,17,3,9.9,232
7383,41,1969,6,2.0,4,17,3,10.7,248

In [6]:
# Writing the Encoded transport_df to a CSV file
transport_df.to_csv('Transportation_Label_Encoded_Dataset.csv', index=False)